
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;900&display=swap');


/* font styling*/
.html{
  .m-plus-rounded-1c-black {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  font-size: 25px;
}

body{
  margin: 0;
}


/* Background styling*/
.background{
  background-color: #b6eeff;
}

#hamburger {
  fill: rgb(0, 9, 67);
  height: 60px;
  width: 60px;
  margin: 10px;
  cursor: pointer;
}


/* animation styling*/
.dotlottie-player{ 
  position:center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}


/* contact page background annimation styling*/


.lottie-bg {
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}


@media (min-width: 1025px) and (max-width: 1280px) {
  .lottie-bg {
    width: 100%;
  }
}
div {
  animation-fill-mode: backwards;
}


/* Sidebar styling*/

#sidebar{
  width: 0px;
  height: 65vh;
  background-color: rgb(247, 247, 247);
  opacity: 75%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  transition: width 0.5s ease;
  white-space: nowrap;
  
}



/* sidebar text styling*/
.sidebar-item{
  text-decoration: none;
  color: black;
  opacity: 100%;
  display: flex;
  padding: 1em;
  align-items: center;
  cursor: pointer;
}

.sidebar-item:hover{
  background-color: rgb(212, 212,212);
}

.sidebar-item > div{
  padding: 0 1em;
}


#overlay{
  width: 100vw;
  height: 100vh;
  background-color: rgba(182, 238, 255);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display:none;
}

/* sound toggle switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* small logo on right side styling*/
header nav{
  display: flex;
  height: 10px;
  width: 100%;
  
}

header nav .imageDiv{
  height: 100%;
  padding: 10px;
}

header nav .imageDiv img{
  height: 150px;
  margin-left: auto; 
}

.col-4 {
  padding-left: 1250px;
  
}


/*Start button styling*/
.block {
  display: block;
  margin: auto;
  width: 100px !important;
  height: 100px !important;
  border: none;
  
  padding: 1px 700px;
  font-size: 50px;
  cursor: pointer;
  text-align: center;
  
}


/*Main title styling*/
.mainDiv{
  display: flex;
}

main, .mainDiv2{
  flex: 5;
}

main section, .mainDiv2 section{
  display: flex;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

main section div, .mainDiv2 section div{
  flex: 1;
}

.mainDiv div, .mainDiv2 div{
  display: flex;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
}


/*feedback input box*/
input {
  text-align: center;
  padding: 20px 20px 0px;
  display: inline-block;
}

.col-8 button{
  font-size: 50px;
  display: inline-block;
  text-align: center;
  padding-left: 40px;
  padding-top: 25px;
  opacity: 100%;
  border:none ;
  font-family: "M PLUS Rounded 1c", black,  sans-serif;
  cursor: pointer;
  text-decoration: none;
 
}

.col-6{
  font-size: 20px;
  text-align: center;
  padding-left: 25px;
  padding-top: 20px;
  opacity: 80%;
  border:none ;
  font-family: "M PLUS Rounded 1c", black,  sans-serif;
  cursor: pointer;
  color: #fced99;
  
  
  
  
}
.col-5{
  text-align: center;
  padding-left: 150px;
  opacity: 65%;
  border-radius: 0%;
  font-family: "M PLUS Rounded 1c", black,  sans-serif;
  font-size: 20px;
}




/*submit & cancel buttons*/
button{
  text-align: center;
  position:relative;
  font-family: "M PLUS Rounded 1c", black,  sans-serif;
  font-size: 20px;
  display: block;
  text-decoration: none !important;
}

/*button answers options*/
.btn-group button{
  width: 500px !important;
  height: 100px !important;
  display: block;
  text-align: center;
  text-decoration: none !important;
  
}

.btn-group button:not(:last-child){
  border-bottom: none;
}

.btn-group btn-danger button:hover{
  background-color: #ff4545;
  text-decoration: none;
}
.btn-group btn-success button:hover{
  background-color: #548f38;
  text-decoration: none;
}


.matt{
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.matt h1{
  width: 100%;
  height: 100%;
  padding: 0 !important;
}


/*about us text styling*/

main section h6, main section p   .mainDiv2 section h6, .mainDiv2 section p{
  padding: 100px 100px 0px;
  font-size: 150px;
  font-family: "M PLUS Rounded 1c", black,  sans-serif;
  text-align: center;
  margin-left: 300px;
}

main section h5, main section p, .mainDiv2 section h6, .mainDiv2 section p{
  padding: 20px 200px ;
  font-size:40px;
  font-family: "M PLUS Rounded 1c", black,  sans-serif;
  text-align: center;
}


/*question text styling*/
main section h4, main section p, .mainDiv2 section h6, .mainDiv2 section p{
  padding: 100px 100px 0px;
  font-size: 75px;
  font-family: "M PLUS Rounded 1c", black,  sans-serif;
  text-align: center;
display: block;
}

/*feedback text styling*/
main section h3, main section p, .mainDiv2 section h6, .mainDiv2 section p{
  padding: 50px 50px 0px;
  font-size: 50px;
  font-family: "M PLUS Rounded 1c", black,  sans-serif;
  text-align: center;
}
/* catergories title styling*/
main section h2, main section p, .mainDiv2 section h6, .mainDiv2 section p{
  padding: 100px 100px 0px;
  font-size: 150px;
  font-family: "M PLUS Rounded 1c", black,  sans-serif;
  text-align: center;
}

/*ammount of players styling*/
main section h1, main section p,.mainDiv2 section h6, .mainDiv2 section p{
  padding: 100px 100px 0px;
  font-size: 130px;
  font-family: "M PLUS Rounded 1c", black,  sans-serif;
  text-align: center;

}

/* Category buttons styling*/

.button {
  border: none;
  color: white;
  font-family: "M PLUS Rounded 1c", black,  sans-serif;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  
}


/*star rating styling*/

.rating{
  text-align: center;
  margin-top: -40px;
  position: relative;
  width: 90%;
  float: left;
}

.hidden{
  opacity: 0;
}

.star{
  display: inline-block;
  margin: 40px;
  font-size: 60px;
  color: #fffef4;
  position: relative;
  
  .animate {
    -webkit-animation: stretch-bounce .5s   ease-in-out;
    animation: stretch-bounce .5s   ease-in-out;}
    
    .hidden{ 
      opacity: 0;
    }
  }
  
  .full{
    :before{
      font-family: fontAwesome;
      display: inline-block;
      content: "\f005";
      position: relative;
      float: right;
      z-index: 2;
    }
  }
  
  .half{
    &::before{
      font-family: fontAwesome;
      content: "\f089";
      position: absolute;
      float: left;
      z-index: 3;
    }
  }
  
  .star-colour{
    color: #f8d823;
  }
  
  @-webkit-keyframes stretch-bounce{
    
    0%{
      -webkit-transform: scale(1);
    }
    25%{
      -webkit-transform: scale(1.5);
    }
    50%{
      -webkit-transform: scale(0.9);
    }
    75%{
      -webkit-transform: scale(1.2);
    }
    100%{
      -webkit-transform: scale(1);
    }
  }
  
  .selected{
    &::before{
      font-family: fontAwesome;
      display: inline-block;
      content: "\f005";
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform: scale(1);
      opacity: 1;
      z-index: 1;
    }
    
    
    &.pulse{
      &::before{
        transition: 1s ease-out;
      }
    }
    
    &.is-animated{
      &::before{
        transition: 1s ease-out;
      }
    }
  }
  
  
  
  .score-rating{
    vertical-align: sup;
    top: -5px;
    position: relative;
    font-size: 150%;
  }
  
  .total{
    vertical-align: sub;
    top: 0px;
    position: relative;
    font-size: 100%;
  }
  
  
  .animatedBackground{
    position: absolute;top:0px;left:50px;width: 100vw;height: 100wh;
  }






/*Winner animation*/


  @function textShadow($precision, $size, $color){
    $value: null;
    $offset: 0;
    $length: $size * (1 / $precision) - 1;
  
    @for $i from 0 through $length {
      $offset: $offset + $precision;
      $shadow: $offset + px $offset + px $color;
      $value: append($value, $shadow, comma);
    }
  
    @return $value;
  }
  
  .playful span {
    position: relative;
    color: #2238ff;
    animation: scatter 1.75s infinite;
  }
  
  .playful span:nth-child(2n) {
    color: #ff453f;
    animation-delay: 0.3s;
  }
  
  .playful span:nth-child(3n) {
    color: #9bd837;
    animation-delay: 0.15s;
  }
  
  .playful span:nth-child(5n) {
    color: #7e22ff;
    animation-delay: 0.4s;
  }
  
  .playful span:nth-child(7n), .playful span:nth-child(11n) {
    color: #FF9C55;
    animation-delay: 0.25s;
  }
  
  @keyframes scatter {
    0% {
      top: 0;
    }
    50% {
      top: -10px;
    }
    100% {
      top: 0;
    }
  }
  
 
  
  h1 {
    font-size: 65px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    width: 666px;
    max-width: 80vw;
    min-height: 90px;
    height: auto;
    text-align: center;
    margin: 10rem auto;
    margin: calc(50vh - 5rem) auto;
  }


  