
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;900&display=swap');


/* font styling*/
.html{
  .m-plus-rounded-1c-black {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  font-size: 25px;
}

body{
  margin: 0;
}


/* Background styling*/
.background{
  background-color: rgb(182, 238, 255);
}

#hamburger {
  fill: rgb(0, 9, 67);
  height: 60px;
  width: 60px;
  margin: 10px;
  cursor: pointer;
}


/* animation styling*/
.dotlottie-player{ 
  position:center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}


/* contact page background annimation styling*/


.lottie-bg {
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}


@media (min-width: 1025px) and (max-width: 1280px) {
  .lottie-bg {
      width: 100%;
  }
}
div {
  animation-fill-mode: backwards;
}


/* Sidebar styling*/

#sidebar{
  width: 0px;
  height: 65vh;
  background-color: rgb(247, 247, 247);
  opacity: 75%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  transition: width 0.5s ease;
  white-space: nowrap;
  
}



/* text styling*/
.sidebar-item{
  text-decoration: none;
  color: black;
  opacity: 100%;
  display: flex;
  padding: 1em;
  align-items: center;
  cursor: pointer;
}

.sidebar-item:hover{
  background-color: rgb(212, 212,212);
}

.sidebar-item > div{
  padding: 0 1em;
}


#overlay{
  width: 100vw;
  height: 100vh;
  background-color: rgba(182, 238, 255);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

/* sound toggle switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* small logo on right side styling*/
header nav{
  display: flex;
  height: 10px;
  width: 100%;
  
}

header nav .imageDiv{
  height: 100%;
  padding: 10px;
}

header nav .imageDiv img{
  height: 150px;
  margin-left: auto; 
}

.col-4 {
  padding-left: 1250px;
  
}


/*Start button styling*/
.block {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background-color: none;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
}


/*Main title styling*/
.mainDiv{
  display: flex;
}

main{
  flex: 5;
}



main section{
  display: flex;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

main section div{
  flex: 1;
}

.mainDiv div{
  display: flex;
  width: 100%;
  max-height: 600px;
  overflow: hidden;
}


/*feedback input box*/
input {
  text-align: center;
  padding: 20px 20px 0px;
  display: inline-block;
}

.col-8 button{
font-size: 50px;
display: inline-block;
text-align: center;
padding-left: 40px;
padding-top: 25px;
opacity: 100%;
border:none ;
font-family: "M PLUS Rounded 1c", black,  sans-serif;
cursor: pointer;
}

.col-6{
font-size: 20px;
text-align: center;
padding-left: 25px;
padding-top: 20px;
opacity: 80%;
border:none ;
font-family: "M PLUS Rounded 1c", black,  sans-serif;
cursor: pointer;
color: #fced99;




}
.col-5{
text-align: center;
padding-left: 150px;
opacity: 65%;
border-radius:none ;
font-family: "M PLUS Rounded 1c", black,  sans-serif;
font-size: 20px;
}



/*submit & cancel buttons*/
button{
  text-align: center;
  position:relative;
  font-family: "M PLUS Rounded 1c", black,  sans-serif;
  font-size: 20px;
  
}

/*button answers options*/
.btn-group button{
  width: 50%;
  display: block;
}

.btn-group button:not(:last-child){
  border-bottom: none;
}

.btn-group button:hover{
  background-color: #548f38;
}
/*question text styling*/
main section h4, main section p{
  padding: 100px 100px 0px;
  font-size: 75px;
  font-family: "M PLUS Rounded 1c", black,  sans-serif;
  text-align: center;
}

/*feedback text styling*/
main section h3, main section p{
  padding: 50px 50px 0px;
  font-size: 50px;
  font-family: "M PLUS Rounded 1c", black,  sans-serif;
  text-align: center;
}
/* catergories title styling*/
main section h2, main section p{
  padding: 100px 100px 0px;
  font-size: 150px;
  font-family: "M PLUS Rounded 1c", black,  sans-serif;
  text-align: center;
}

/*ammount of players styling*/
main section h1, main section p{
  padding: 100px 100px 0px;
  font-size: 130px;
  font-family: "M PLUS Rounded 1c", black,  sans-serif;
  text-align: center;
}

/* Category buttons styling*/

.button {
  border: none;
  color: white;
  font-family: "M PLUS Rounded 1c", black,  sans-serif;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  
}

.h2{


}

/*star rating styling*/

.rating{
  text-align: center;
  margin-top: -40px;
  position: relative;
  width: 90%;
  float: left;
}

.hidden{
  opacity: 0;
}

.star{
  display: inline-block;
  margin: 40px;
  font-size: 60px;
  color: #f5f5f5;
  position: relative;
  
  .animate {
    -webkit-animation: stretch-bounce .5s   ease-in-out;}
    
    .hidden{ 
      opacity: 0;
    }
  }
  
  .full{
    :before{
    font-family: fontAwesome;
      display: inline-block;
      content: "\f005";
      position: relative;
      float: right;
      z-index: 2;
    }
  }
  
  .half{
    &::before{
      font-family: fontAwesome;
      content: "\f089";
      position: absolute;
      float: left;
      z-index: 3;
    }
  }
  
  .star-colour{
    color: #f8d823;
  }
  
  @-webkit-keyframes stretch-bounce{
    
    0%{
      -webkit-transform: scale(1);
    }
    25%{
      -webkit-transform: scale(1.5);
    }
    50%{
      -webkit-transform: scale(0.9);
    }
    75%{
      -webkit-transform: scale(1.2);
    }
    100%{
      -webkit-transform: scale(1);
    }
  }
  
  .selected{
    &::before{
      font-family: fontAwesome;
      display: inline-block;
      content: "\f005";
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transform: scale(1);
      opacity: 1;
      z-index: 1;
    }
    
    
    &.pulse{
      &::before{
        transition: 1s ease-out;
      }
    }

    &.is-animated{
      &::before{
        transition: 1s ease-out;
      }
    }
  }



.score-rating{
  vertical-align: sup;
  top: -5px;
  position: relative;
  font-size: 150%;
}

.total{
  vertical-align: sub;
  top: 0px;
  position: relative;
  font-size: 100%;
}





