
/* Cancel out browser defaults */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    .m-plus-rounded-1c-medium {
        font-family: "M PLUS Rounded 1c", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
}

header nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #003d0e;
}

 header nav .imageDiv{
    height: 100%;
    padding: 10px;
}

header nav .imageDiv img{
    height: 100%;
    
}

header nav ul{
    display: flex;
    flex-grow: 1;
    list-style: none;
    height: 100%;
}

header nav ul li{
    height: 100%;
    width: 100%;
}


/* this targets the linked pages*/
header nav ul li a{
    color: #ffefc2;
    text-decoration: none;
    font-size:20px;
    line-height: 80px;
    display: inline-block;
    width: 100%;
    text-align: center;
    
}

header nav ul li a:hover{
background-color: #17762d;
color: #efefef;
}

/* Background styling*/
.background{
    background-color: rgb(182, 238, 255);
}

body{
    font-family: 'Roboto', sans-serif;
}

/* animation styling*/
.dotlottie-player{ 
    position:center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}
/* Sidebar styling*/
#hamburger {
height: 50px;
width: 50px;
margin: 10px;
}

#sidebar{
width: 250px;
height: 100vh;
background-color: rgb(247, 247, 247);
position: fixed;
top: 0;
left: 0;
z-index: 2;
}

.sidebar-item{
    text-decoration: none;
    color: black;
display: flex;
padding: 1em;
align-items: center;
cursor: pointer;
}

.sidebar-item:hover{
background-color: rgb(212, 212,212);
}

.sidebar-item > div{
padding: 0 1em;
}

#overlay{
    width: 100vw;
    height: 100vh;
    background-color: rgba(182, 238, 255);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1
}

/*Main Area Styling*/
.mainDiv{
    display: flex;
}

main{
    flex: 5;
}



main section{
    display: flex;
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}

main section div{
    flex: 1;
}

main section h2, main section p{
    padding: 20px 50px 0px;
}


.img1 img{
    width: 100%;
}

/* Sidebar styling*/
aside{
    flex: 1;
    background-color: #fff8e4;
    padding: 20px 50px;
}

aside ul{
list-style: none;
margin-top: 10px;
}

aside ul li{
    margin-bottom: 20px;
}

aside a{
    color: #003d0e;
    text-decoration: none;
    font-weight: bold;
}

/*Footer styling   (flex is a flex box system)*/ 
footer{
    width: 100%;
    background-color: #003d0e;
    display: flex;
    padding: 0px 20px;
}

footer div{
flex: 1;
}

footer nav ul{
    list-style: none;
    margin: 20px;

}

footer nav ul li {
    margin-bottom: 10px;
}
footer ul li a{
    color: #fff8e4;
text-decoration: none;
}

footer nav ul li a:hover{
    color: #f9ddba;
}

footer img{
    width: 100%;
}
